BasedOnStyle: Microsoft
Language: Cpp
Standard: Latest
ColumnLimit: 120
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
BreakBeforeBraces: Allman
BreakBeforeBinaryOperators: None
BinPackArguments: false
BinPackParameters: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
DerivePointerAlignment: false
SortIncludes: Never
ReflowComments: false
FixNamespaceComments: false
